!!!5
%html
	%head
		%meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
		%meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
		%meta{charset: "utf-8"}

		%link{href: './../node_modules/tether/dist/css/tether.min.css', rel: 'stylesheet'}
		%link{href: './../node_modules/bootstrap/dist/css/bootstrap.min.css', rel: 'stylesheet'}
		%link{href: './../node_modules/font-awesome/css/font-awesome.min.css', rel: 'stylesheet'}
		%link{href: './../node_modules/prismjs/themes/prism.css', rel: 'stylesheet'}
		%link{href: "https://fonts.googleapis.com/css?family=Lato:400,700", rel: "stylesheet"}/
		%link{href: 'main.css', rel: 'stylesheet'}
		%title Sticky
	%body

		%section.et-hero-tabs
			%h1 STICKY SLIDER NAV
			%h3 Sliding content with sticky tab nav
			.et-hero-tabs-container
				%a.et-hero-tab{href: "#tab-es6"} ES6
				%a.et-hero-tab{href: "#tab-flexbox"} Flexbox
				%a.et-hero-tab{href: "#tab-react"} React
				%a.et-hero-tab{href: "#tab-angular"} Angular
				%a.et-hero-tab{href: "#tab-other"} Other
				%span.et-hero-tab-slider

		%main.et-main
			%section#tab-es6.et-slide
				%h1 ES6
				%h3 something about es6
			%section#tab-flexbox.et-slide
				%h1 Flexbox
				%h3 something about flexbox
			%section#tab-react.et-slide
				%h1 React
				%h3 something about react
			%section#tab-angular.et-slide
				%h1 Angular
				%h3 something about angular
			%section#tab-other.et-slide
				%h1 Other
				%h3 something about other


		%script{src: './../node_modules/tether/dist/js/tether.min.js', type: 'text/javascript'}
		%script{src: './../node_modules/jquery/dist/jquery.min.js', type: 'text/javascript'}
		%script{src: './../node_modules/bootstrap/dist/js/bootstrap.min.js', type: 'text/javascript'}
		%script{src: './../node_modules/prismjs/prism.js', type: 'text/javascript'}
		%script{src: './../node_modules/prismjs/components/prism-haml.min.js', type: 'text/javascript'}

		%script{src: 'main.js', type: 'text/javascript'}
